<div *ngIf="usuario; else cargando" class="perfil-container">
  <h2>Perfil del Cliente</h2>

  <p><strong>Nombres:</strong> {{ usuario.nombres }}</p>
  <p><strong>Apellidos:</strong> {{ usuario.apellidos }}</p>
  <p><strong>Email:</strong> {{ usuario.email }}</p>
  <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
  <p><strong>Rol:</strong> {{ usuario.rol }}</p>
  <p><strong>Documento:</strong> {{ usuario.tipoDocumento }} - {{ usuario.documentoIdentidad }}</p>
  <p><strong>Fecha de Nacimiento:</strong> {{ usuario.fechaNacimiento }}</p>

  <div class="botones-perfil">

    <button class="btn-editar" (click)="editarPerfil()">Editar Perfil</button>
    <button class="btn-cerrar" (click)="logout()">Cerrar sesión</button>
  </div>
</div>

<ng-template #cargando>
  <p>Cargando perfil...</p>
</ng-template>
